.wrapper
  = render 'layouts/header'
  .drone_main
    .drone_main__text
      .tytle
        droneMail
      .message
        空のメッセンジャー
    .drone_main__index
      ドローン一覧
  = render 'layouts/footer'