.wrapper
  = render 'layouts/header'
  .drone_main
    .drone_main__text
      .tytle
        droneMail
      .message
        空のメッセンジャー
    .drone_main__index
      ドローン一覧
      .drone_main__index__box.drone_main__index__1st
        .drone_box
          .drone_box__img
            No Image
          .drone_box__station
            ステーション名
          .drone_box__coment
            ドローン名
        .drone_box
          .drone_box__img
            No Image
          .drone_box__station
            ステーション名
          .drone_box__coment
            ドローン名
        .drone_box
          .drone_box__img
            No Image
          .drone_box__station
            ステーション名
          .drone_box__coment
            ドローン名
        .drone_box
          .drone_box__img
            No Image
          .drone_box__station
            ステーション名
          .drone_box__coment
            ドローン名
      .drone_main__index__box.drone_main__index__2nd
        .drone_box
          .drone_box__img
            No Image
          .drone_box__station
            ステーション名
          .drone_box__coment
            ドローン名
        .drone_box
          .drone_box__img
            No Image
          .drone_box__station
            ステーション名
          .drone_box__coment
            ドローン名
        .drone_box
          .drone_box__img
            No Image
          .drone_box__station
            ステーション名
          .drone_box__coment
            ドローン名
        .drone_box
          .drone_box__img
            No Image
          .drone_box__station
            ステーション名
          .drone_box__coment
            ドローン名
  = render 'layouts/footer'